{# <h1>Liste des auteurs ({{ authors|length }} auteurs)</h1>
{% if authors is defined and authors|length > 0 %}
    <table border="1" width="100%">
        <tr>
            <th>details</th>
            <th>id</th>
            <th>picture</th>
            <th>username</th>
            <th>email</th>
            <th>nb_books</th>
        </tr>
        {% for author in authors %}
        <tr>
            <td><a href="{{ path('author_details', {'id': author.id}) }}">détails</a></td>
            <td>{{ author.id }}</td>
            <td><img src="{{ author.picture }}" width="50"></td>
            <td>{{ author.username|upper }}</td>
            <td>{{ author.email }}</td>
            <td>{{ author.nb_books }}</td>
        </tr>
        {% endfor %}
    </table>
    {% set total = 0 %}
    {% for author in authors %}
        {% set total = total + author.nb_books %}
    {% endfor %}
    <p>nb total des livres des auteur : {{ total }}</p>
{% else %}
    <p>Aucun auteur trouvé.</p>
{% endif %} #}


<h1>List Authors</h1>
<table border="1" width="100%">
    <tr> 
        <th>Username</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    {% for author in authors %}
    <tr>
        <td>{{ author.username|upper }}</td>
        <td>{{ author.email }}</td> 
        <td>
            <a href="{{ path('update_author', {'id': author.id}) }}">Edit</a>
            <a href="{{ path('delete_author', {'id': author.id}) }}">Delete</a> 
    </tr>
    {% endfor %}
</table>
<a href="{{ path('add_author') }}">Create New Author</a>