
<h1>Auteur : {{ author.username }}</h1>
<img src="{{ author.picture }}" width="50">
<p>ID : {{ author.id }}</p>
<p>Email : {{ author.email }}</p>
<p>Nombre de livres publiés : {{ author.nb_books }}</p>