<h1>update a book </h1>
{{ form_start(form) }}  
<div class="form-group">{{ form_row(form.title) }}</div>
<div class="form-group">{{ form_row(form.publicationDate) }}</div>
<div class="form-group">{{ form_row(form.published) }}</div>
<div class="form-group">{{ form_row(form.category) }}</div>
<div class="form-group">{{ form_row(form.author) }}</div>
    <button class="btn" type='submit'>Update</button>
{{ form_end(form) }}